
// ---==>>> Font Families 

@font-face {
    font-family: 'Reenie Beanie'; 
    src: url('../fonts/Reenie_Beanie/ReenieBeanie-Regular.ttf');   
}  
@font-face {
    font-family: 'Calligraffitti';  
    src: url('../fonts/Calligraffitti/Calligraffitti-Regular.ttf');   
} 
