
.footer{
    font-size: $f16;
    color: $white; 
    background-color: rgba($color: $black, $alpha: .6);
    background-color: $grey;
    // background-image: url(../images/bg1.png);
    background-image: linear-gradient(to bottom, rgba($color: $black, $alpha: .1), rgba($color: $grey, $alpha: .1)),
    url(../images/bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    padding-top: 10rem;
    position: relative;
    &__colcontent{
        padding: 2rem 2rem 3.5rem 2rem;
    }
    &__col{
        border: .1rem solid $white;
        border-top: 1rem solid $black;
        border-bottom: 1rem solid $black;
        border-radius: 1rem;
        max-width: 25rem;
        h3{
            padding-bottom: .5rem;
            margin-bottom: 1rem;
            border-bottom: .1rem solid $white;
            display: table;
        }
        ul{
            padding-left: 0;
            li{
                list-style: none;
                line-height: 2rem;
                span{
                    color: $white;
                    font-weight: 600;
                    display: inline-block;
                    min-width: 6em;
                }
                a{
                    color: $white;
                    transition: all .3s ease;
                    -webkit-transition: all .3s ease;
                    &:hover{
                        text-decoration: none;
                        transition: all .3s ease;
                        -webkit-transition: all .3s ease;
                    }
                }
            }
        }
        &--left{
            border-color: $green;
            margin-bottom: 3rem;
            a:hover{
                color: $green;
            }
        }
        &--right{
            border-color: $pink;
        }
    }
    &__bottom{
        background-color: $black;
        padding: 2rem 0;
        margin-top: 5rem;
    }
    &__bottom-content{
        span{
            color: $red;
        }
    }
}

@media only screen and (min-width: 768px) {
    .footer{
        padding-top: 20rem;
        &__col{
            &--left{
                margin-bottom: 0;
            }
        }
        &__bottom-content{
            text-align: center;
        }
       
        
         
    }
}