
html,
body{ 
    font-size:  14px;  
    line-height: 1.3; 
}


.parallax-img {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}







.gutter8{
    padding-left: 10vw !important; 
    padding-right: 10vw !important; 
}
.black{
    color: $white;
    background-color: $black;   
}       
.green{
    color: $white;
    background-color: $green;    
}         
.pink{
    color: $white; 
    background-color: $pink; 
}
.blue{
    color: $white; 
    background-color: $blue; 
}
.white{
    color: $white;
    background-color: $white;         
}

.paragraph, 
.paragraph div,
.paragraph p,
ul li, p{
    span{
        color: $red;
        font-size: 600; 
    }        
}

input:-webkit-autofill{
    -webkit-text-fill-color: $white;  
    transition: background-color 9999s ease-in-out;  
    transition-delay: 9999s; 
    -webkit-transition: background-color 9999s ease-in-out;  
    -webkit-transition-delay: 9999s;  
} 
.btn-general{
    // height: 80px;  
    display: flex;
    width: 100%;   
    justify-content: center;
    align-items: center;   
    position: absolute;
    bottom: 5vw; 
    left: -.1rem;
    a{
        font-size: .25rem;  
        font-weight: 500;
        color: $white;
        background-color: $black;
        padding: 8px 30px 11px 30px; 
        border: 1px solid $black;
        border-radius: 2rem;
        transition: all .4s;    
        -webkit-transition: all .4s; /* Safari 3.1 to 6.0 */  
        &:hover{
            // transform: scale(0.9);     
            text-decoration: none;
            color: $black;
            background-color: $white;  
            transition: all .4s;    
            -webkit-transition: all .4s; /* Safari 3.1 to 6.0 */  
        }
    }
}    
.bg-wave{
    position: relative;
    z-index: 3;
}
.heading-font{   
    font-family: 'Reenie Beanie', cursive;   
    color: $red;
    text-decoration: underline;
    margin-bottom: 3vw;   
}
.img-full img, .img-full{
    width: 100%;
    height: auto;
}
.tab-content{
    margin-top: 60px;
}   
.hide-md{
    display: block;
}
.hide, .display-md{
    display: none;
}

@media only screen and (min-width: 768px){
    html,
    body{ 
        font-size:  1vw;  
        line-height: 1; 
    }
}