
$black: #000000;
$black_trensparent: rgba(0, 0, 0, .8); 
$white: #ffffff;
$lightgrey: #e6e6e6;    
$grey:#808080;
$orange: orange;
$menu_bg_slider: rgb(128, 0, 0);           
// $green: #008000;    
$green: #00B3A6; 
$green_trensparent: rgba(0, 179, 166, .8);
$light_green: #ccffcc;  
$blue: #1396e8; 
$blue_trensparent: rgba(19, 150, 232, .8);
$light_blue: #e8f0fd;   
$red: #ff0000;     
$pink: #ff9999;   
$pink_trensparent: rgba(255, 153, 153, .8);
$light_pink: #ffe6e6;   
$yellow: #ffcc00;       
$gold: #FFD700;