.intro{
    color: $white;
    padding-top: 5rem;
    padding-bottom: 20rem;
    position: relative;
    z-index: 3;
    background-color: $grey;
    // background-color: rgba($color: $black, $alpha: .8);
    background-image: linear-gradient(to bottom, rgba($color: $black, $alpha: .1), rgba($color: $grey, $alpha: .1)),
    url(../images/bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

@media only screen and (max-width: 1199px) {
    .intro{
        .intro__content{ 
            
        }
    }
}
  

@media only screen and (max-width: 767px) {
    .intro{
        .intro__content{
            padding-top: 70px;  
            padding-bottom: 50px;
            h3{
                margin-bottom: 20px;
            }
        }
    }
}