@mixin tag{
    font-size: $f18;
    line-height: 1;
    font-weight: 600;
    display: block;
    max-width: 20rem;
    border-left: .7rem solid $pink;
    border-radius: .7rem;
    padding: 1.7rem 1rem;
    margin-bottom: 1rem;
    @include boxShadow3;
}
.tag--pink{
    @include tag;
    border-color: $pink;
}
.tag--green{
    @include tag;
    border-color: $green;
}
.tag--black{
    @include tag;
    border-color: $black;
}
.tag--grey{
    @include tag;
    border-color: $grey;
}
.tag--red{
    @include tag;
    border-color: $red;
}