.tag{
    font-size: $f18;
    line-height: 1;
    font-weight: 600;
    display: block;
    max-width: 20rem;
    border-left: .7rem solid $pink;
    border-radius: .7rem;
    padding: 1.7rem 1rem;
    margin-bottom: 1rem;
    @include boxShadow1;
    &--pink{
        border-color: $pink;
    }
    &--green{
        border-color: $green;
    }
    &--black{
        border-color: $black;
    }
    &--grey{
        border-color: $grey;
    }
    &--red{
        border-color: $red;
    }
}