.wave{
	position: absolute;
    left: 0;
	right: 0;
	height: 5rem;
	z-index: 3;
	border-bottom: .3rem solid $white;
	&--1{
		background-image: url('../images/wave.svg');
	}
	&--2{
		background-image: url('../images/wave2.svg');
	}
	&--3{
		background-image: url('../images/wave3.svg');
	}
	&--4{
		background-image: url('../images/wave4.svg');
	}
	&--5{
		background-image: url('../images/wave5.svg');
	}
	&--6{
		background-image: url('../images/wave6.svg');
	}
}
.wave--top-left{
	@extend .wave;
	top: 0;
	background-position: center top;
}
.wave--top-right{
	@extend .wave;
	top: 0;
	transform: rotateX(180deg);
	background-position: center top;
}
.wave--bottom-left{
	@extend .wave;
	bottom: 0;
	transform: rotateY(180deg);
	background-position: center bottom;
}
.wave--bottom-right{
	@extend .wave;
	bottom: 0;
	transform: rotateX(180deg);
	transform: rotateY(180deg);
	background-position: center bottom;
}


@media (min-width: 576px){
	.wave{
		height: 8rem;
	}
}
@media (min-width: 768px){
	.wave{
		height: 15rem;
	}
}